body{
    
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1em;
    line-height:  2em;
    background-color: #ededed;
}
 h3{
   border: 1px solid #929ca4; 
    color: #cc1c0d;
}
    
p:first-of-type::first-letter{
    font-size: 30px;
}   

.solution:first-line {
    color: #cc1c0d;
    font-weight: bold;
}
#testimonial1,#testimonial2{
    font-style: italic;
    margin-left:50px ;
}
a[href*='http']:active{
    color:darkorange;
      
}
a[href*='http']:link{
    color: darkorchid;
}
a[href*='http']:hover{
    color:darkgreen;
    text-decoration: none;
}
a[href*='http']:visited{
 text-decoration: aqua;
}

li{
list-style: none;
} 
ul li:first-of-type{
    color: blue;
}
ul li:last-of-type{
    color:red;
}

